# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage (por si luego agregas)
.coverage
htmlcov/

# Logs
*.log

# Evidence (opcional según estrategia)
evidence/history/