# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Pytest
.pytest_cache/

# Logs / evidencia generada
*.log
evidence/*.txt

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/